@use "../../../../styles/abstracts/variables" as *;
@use "../../../../styles/abstracts/mixins" as *;

.container {
  background-color: $bg-section-alt;
  height: auto;
}

.slide {
  flex: 0 0 100%;

  height: 400px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: gray;

  font-size: 40px;
  font-weight: bold;
}
