@use "./variables" as *;

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin container {
  width: 100%;
  max-width: $container-width;
  margin-inline: auto;
  padding-inline: $space-4;
}

@mixin section-spacing {
  padding-block: 6rem;
}

// @mixin glass-effect {
//   background: $bg-navbar;
//   backdrop-filter: blur(20px);
//   -webkit-backdrop-filter: blur(20px);
// }

// @mixin hover-lift {
//   transition: $transition-default;

//   &:hover {
//     transform: translateY(-4px);
//   }
// }
