@use "../../styles/abstracts/variables" as *;

.container {
  display: flex;
  align-items: center;
  text-align: center;

  .socMedContainer {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 0.5rem;

    a {
      width: 35px;
      height: 35px;
      border: 1px solid white;
      border-radius: $radius-circle;
      display: flex;
      align-items: center;
      justify-content: center;

      .contactIcon {
        color: $color-text-inverse;
        font-size: $text-sm;
      }
    }
  }

  p {
    font-size: $text-sm;
    color: $color-text-inverse;
  }
}
