@use "../abstracts/variables" as *;

body {
  font-family: $font-body;
  font-size: $text-base;
  line-height: 1.7;
  color: $color-text;
}
// body {
//   font-family: $font-body;
//   font-size: $text-base;
//   line-height: 1.7;
//   color: $color-text;
//   background: $bg-main;
//   overflow-x: hidden;
// }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading;
  color: $color-text-heading;
  line-height: 1.15;
  font-weight: $font-bold;
}

h1 {
  font-size: clamp(3rem, 6vw, 5.5rem);
}

h2 {
  font-size: clamp(2.5rem, 5vw, 4rem);
}

h3 {
  font-size: clamp(2rem, 4vw, 3rem);
}

h4 {
  font-size: 1.5rem;
}

p {
  color: $color-text-light;
}
